#Ignore env containing secrets
.env

#Ignore Virtual Env
.venv/
venv/


#Ignore generated outputs
outputs/
.chroma/

#Ignore pycache
**/__pycache__/

#Ignore mypy cache
.mypy_cache/

# Other
dist/
package_stevehoang.egg-info/
```
